.m-playbar .updn .left, .m-playbar .updn .right, .m-playbar .updn .btn, .m-playbar .bg, .m-playbar .btns span, .m-playbar .head .mask, .m-playbar .icn, .m-playbar .ctrl, .m-playbar .tip, .m-vol .curr, .m-playbar .words .mv, .m-vol .barbg, .m-playbar .words .src {
    background: url(https://s2.music.126.net/style/web2/img/frame/playbar.png?16b7ce941b01865dd1f1f1a47066a0eb) no-repeat 0 9999px;
}
.g-btmbar {
    position: fixed;
    _position: absolute;
    zoom: 1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    z-index: 1002;
}

.m-playbar {
    position: absolute;
    zoom: 1;
    top: -53px;
    left: 0;
    width: 100%;
    height: 53px;
    margin: 0 auto;
    .updn {
        position: relative;
        z-index: 11;
        .left {
            position: absolute;
            top: -14px;
            right: 15px;
            width: 52px;
            height: 67px;
            background-position: 0 -380px;
        }
        .right {
            position: absolute;
            top: -1px;
            right: 0;
            width: 15px;
            height: 54px;
            background-position: -52px -393px;
            pointer-events: none;
        }
        .btn {
            display: block;
            width: 18px;
            height: 18px;
            margin: 6px 0 0 17px;
        }
    }
    .bg {
        height: 53px;
        zoom: 1;
        margin-right: 67px;
        background-position: 0 0;
        background-repeat: repeat-x;
    }
    .hand {
        position: absolute;
        top: -10px;
        width: 100%;
        height: 20px;
        cursor: pointer;
    }
    .wrap {
        position: absolute;
        left: 50%;
        top: 6px;
        z-index: 15;
        width: 980px;
        height: 47px;
        margin: 0 auto;
        margin-left: -490px;
    }
    .btns {
        width: 137px;
        padding: 6px 0 0 0;
        .prv {
            background-position: 0 -130px;
        }
        .ply, .pas {
            width: 36px;
            height: 36px;
            margin-top: 0;
            background-position: 0 -204px;
        }
        .pas {
            background-position: 0 -165px;
        }
        .nxt {
            background-position: -80px -130px;
        }
        span {
            display: block;
            float: left;
            width: 28px;
            height: 28px;
            margin-right: 8px;
            margin-top: 5px;
            text-indent: -9999px;
        }
    }
    .head {
        position: relative;
        *zoom: 1;
        margin: 6px 15px 0 0;
        .mask {
            position: absolute;
            top: 0px;
            left: 0px;
            display: block;
            width: 34px;
            height: 35px;
            background-position: 0 -80px;
        }
    }
    .play {
        position: relative;
        *zoom: 1;
        width: 608px;
    }
    .words {
        height: 28px;
        overflow: hidden;
        color: #e8e8e8;
        text-shadow: 0 1px 0 #171717;
        line-height: 28px;
        .name {
            max-width: 300px;
        }
        .fc1 {
            color: #e8e8e8;
        }
        .mv {
            width: 19px;
            height: 17px;
            margin: 6px 0 0 3px;
            background-position: 0 -57px;
        }
        .by {
            max-width: 220px;
            margin-left: 15px;
            color: #9b9b9b;
            a {
                color: #9b9b9b;
            }
        }
    }
}


.m-playbar .btns, .m-playbar .head, .m-playbar .play, .m-playbar .volum, .m-playbar .oper {
    float: left;
}

.m-playbar .head, .m-playbar .head img {
    width: 34px;
    height: 34px;
}

.m-playbar-lock .updn .btn {
    background-position: -100px -380px;
}

.m-pbar .barbg, .m-pbar .cur, .m-pbar .rdy, .m-pbar .left {
    background: url(https://s2.music.126.net/style/web2/img/frame/statbar.png?22c74417b32a0937714ea8eb52f582bf) no-repeat 0 9999px;
}
.m-pbar .btn, .m-vol .btn {
    background: url(https://s2.music.126.net/style/web2/img/iconall.png?d74278c76b9aea3520bf4f9e521a1171) no-repeat;
}
.m-pbar {
    .barbg {
        width: 493px;
    }
    width: 493px;
    position: relative;
    *zoom: 1;
    .barbg, .cur, .rdy {
        height: 9px;
        background-position: right 0;
    }
    .rdy {
        background-position: right -30px;
    }
    .cur {
        position: absolute;
        top: 0;
        left: 0;
        width: 1%;
        background-position: left -66px;
    }
    .btn {
        position: absolute;
        top: -7px;
        right: -13px;
        width: 22px;
        height: 24px;
        margin-left: -11px;
        background-position: 0 -250px;
        i {
            visibility: hidden;
            position: absolute;
            left: 5px;
            top: 5px;
            width: 12px;
            height: 12px;
            background: url(https://s2.music.126.net/style/web2/img/outchain/loading.gif?3bf992a5e22453c9d801bdc5092ee10d);
        }
        &:hover {
            background-position: 0 -280px;
        }
    }
    .time {
        position: absolute;
        top: -3px;
        right: -84px;
        color: #797979;
        text-shadow: 0 1px 0 #121212;
    }
    time {
        color: #a1a1a1;
    }
}

.m-pbar, .m-pbar .barbg {
    width: 493px;
}

