* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}
body, html, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, header, menu, section, p, input, td, th, ins {
    padding: 0;
    margin: 0;
}

body, textarea, select, input, button {
    font-size: 12px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: none;
}

html, body {
    width: 100%;
    height: 100%;
    border: 0;
    word-wrap: break-word;
    word-break: break-word;
    overflow-x: hidden;
}

body {
    *zoom: 1;
    min-width: 982px;
    background: #f5f5f5;
}

em, i {
    font-style: normal;
    text-align: left;
    font-size: inherit;
}
.m-top .logo, .m-nav .cor, .m-nav .hot, .m-srch .srchbg, .m-mail, .m-tophead, .m-topvd {
    background: url(https://s2.music.126.net/style/web2/img/frame/topbar.png?0430f59a879048c9e305e31c22724ab7) no-repeat 0 9999px;
}

body, textarea, select, input, button {
    font-size: 12px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: none;
}

.m-top {
    position: relative;
    z-index: 1000;
    height: 70px;
    box-sizing: border-box;
    background: #242424;
    border-bottom: 1px solid #000;
    .wrap {
        width: 1100px;
        margin: 0 auto;
    }
    .logo {
        float: left;
        width: 176px;
        height: 69px;
        background-position: 0 0;
        a {
            float: left;
            width: 157px;
            height: 100%;
            padding-right: 20px;
            text-indent: -9999px;
            outline: none;
        }
        
    }
}

.f-cb {
    &::after {
        clear: both;
        content: '.';
        display: block;
        height: 0;
        visibility: hidden;
    }
}

.m-nav li, .m-nav li span, .m-nav a, .m-nav a em {
    float: left;
    height: 70px;
    font-size: 14px;
}

.m-nav {
    float: left;
    li {
        position: relative;
        *zoom: 1;
        background-position: right -300px;
    }
    a {
        padding: 0 19px;
        text-align: center;
        line-height: 70px;
        color: #ccc;
        &:hover, &.z-slt, &.active {
            background: #000;
            text-decoration: none;
            color: #fff;
        }
        &.z-slt .cor {
            display: block;
            position: absolute;
            left: 50%;
            top: 64px;
            width: 12px;
            height: 7px;
            margin-left: -6px;
            overflow: hidden;
            background-position: -226px 0;
        }
        .cor {
            display: none;
        }
    }
    .hot {
        display: block;
        position: absolute;
        top: 21px;
        left: 100px;
        width: 28px;
        height: 19px;
        background-position: -190px 0;
    }
}

.m-nav li.lst, .m-nav li.fst span {
    background: none;
}

.m-tophead {
    float: right;
    height: 45px;
    margin: 19px 0 0 20px;
    padding: 0 22px 0 0;
    background-position: right -47px;
    background-image: none;
    &:hover .link {
        color: #999;
    }
}

.f-pr {
    position: relative;
    zoom: 1;
}

.m-tophead .link, .m-tophead .link:hover {
    display: block;
    width: 28px;
    margin-top: 7px;
    color: #787878;
}

.s-fc3, a.s-fc3:hover {
    color: #666;
}

.m-topvd {
    float: right;
    width: 90px;
    height: 32px;
    margin: 19px 0 0 12px;
    box-sizing: border-box;
    padding-left: 16px;
    border: 1px solid #4F4F4F;
    background-position: 0 -140px;
    line-height: 33px;
    color: #ccc;
    border-radius: 20px;
    &:hover {
        background-position: -100px -140px;
        color: #fff;
        text-decoration: none;
        border: 1px solid #ccc;
    }
}

.m-creator-center {
    background: none!important;
}

.m-srch {
    float: right;
    width: 158px;
    height: 32px;
    & .srchbg{
        float: right;
        width: 158px;
        height: 32px;
        margin-top: 19px;
        background-position: 0 -99px;
        background-color: #fff;
        border-radius: 32px;
    }
    .parent {
        display: block;
        position: relative;
        margin: 8px 0 0 30px;
        input {
            color: #333;
            line-height: 16px;
            margin: 0;
            padding: 0;
            background: transparent;
            width: 95%;
            outline: none;
        }
    }
}

img, .txt {
    border: 0;
}

.m-subnav {
    z-index: 90;
    height: 35px;
    box-sizing: border-box;
    background-color: #C20C0C;
    border-bottom: 1px solid #a40011;
    .wrap {
        width: 1100px;
        height: 34px;
        margin: 0 auto;
    }
    .nav {
        float: left;
        padding-left: 180px;
        a {
            color: #fff;
            em {
                display: inline-block;
                height: 20px;
                padding: 0 13px;
                margin: 7px 17px 0;
                border-radius: 20px;
                line-height: 21px;
            }
        }
    }
}

.m-subnav-up {
    height: 5px;
    overflow: hidden;
}

.m-subnav .nav li, .m-subnav .nav a {
    float: left;
    height: 34px;
    text-align: center;
}

.m-subnav .nav a:hover, .m-subnav .nav a.z-slt {
    color: #fff;
    text-decoration: none;
}

.m-subnav .nav a:hover em, .m-subnav .nav a.z-slt em {
    background: #9B0909;
}

.f-pa {
    position: absolute;
}

.f-r-white-icon {
    display: inline-block;
    width: 8px;
    height: 8px;
    top: 2px;
    background-size: cover;
    background-image: url(https://s2.music.126.net/style/web2/img/white-r-icon@3x.png?3e894116ec5736143a8f600d265d466b);
}

.g-bd1 {
    background: url(https://s2.music.126.net/style/web2/img/frame/wrap1.png?e913d012721552310718f93a5c8d1a3c) repeat-y 100% 100%;
}

.main-wrap, .g-bd, .g-bd1, .g-bd2, .g-bd3, .g-bd4, .g-bd5, .g-bd6, .g-bd7 {
    width: 980px;
    min-height: 700px;
    _height: 700px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-width: 0 1px;
}

.g-mn1 {
    float: left;
    width: 100%;
    margin-right: -250px;
}

.g-mn1c {
    margin-right: 251px;
}

.g-wrap3 {
    padding: 20px 20px 40px;
}


.s-bg, .v-hd2, .n-disk li {
    background: url(https://s2.music.126.net/style/web2/img/index/index.png?32d1c09e2186eb9e738170bac2302c79) no-repeat 0 9999px;
}

.v-hd2 {
    height: 33px;
    padding: 0 10px 0 34px;
    background-position: -225px -156px;
    border-bottom: 2px solid #C10D0C;
    .tab {
        float: left;
        margin: 7px 0 0 20px;
    }
    .more {
        float: right;
        margin-top: 9px;
        _margin-top: 11px;
    }
    .tit {
        float: left;
        font-size: 20px;
        font-weight: normal;
        line-height: 28px;
    }
}

.f-tdn, .f-tdn:hover {
    text-decoration: none;
}

a {
    color: #333;
    &:hover {
        text-decoration: underline;
        color: #333;
    }
}

.s-fc3, a.s-fc3:hover {
    color: #666;
}

.v-hd2 .tab .line {
    margin: 0 10px;
    color: #ccc;
}

.v-hd2 .more .cor, .v-hd3 .more .cor {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 4px;
    vertical-align: middle;
}


.n-rcmd {
    .m-cvrlst {
        margin: 20px 0 0 -41px;
        li {
            width: 140px;
            height: 204px;
            padding-left: 42px;
            .dec {
                margin: 8px 0 3px;
                font-size: 14px;
            }
            .tit {
                display: inline-block;
                max-width: 100%;
                vertical-align: middle;
            }
        }
    }
}



.u-cover .bottom, .u-cover .msk, .n-musicsd .lst .avatar .msk {
    background: url(https://s2.music.126.net/style/web2/img/coverall.png?6290fef8168a60ebbf09caa2bf10dfb3) no-repeat;
}

.u-cover .ply, .u-cover .icon-headset, .u-cover .icon-play, .u-face .msk, .n-note .head .msk, .icn-vip, .icn-daren, .u-checkbox {
    background: url(https://s2.music.126.net/style/web2/img/iconall.png?29990c9e12608f19ccdbb29d45cbf748) no-repeat;
}



.m-cvrlst  {
    li {
        float: left;
        display: inline-block;
        width: 140px;
        height: 188px;
        overflow: hidden;
        padding: 0 0 30px 50px;
        line-height: 1.4;
        box-sizing: content-box;
    }
}

.u-cover-1 {
    width: 140px;
    height: 140px;
    .msk {
        background-position: 0 0;
    }
}


.u-cover {
    position: relative;
    display: block;
    img {
        display: block;
        width: 100%;
        height: 100%;
    }
    .msk {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 27px;
        background-position: 0 -537px;
        color: #ccc;
    }
    .icon-play {
        position: absolute;
        right: 10px;
        bottom: 5px;
        width: 16px;
        height: 17px;
        background-position: 0 0;
        display: inline-block;
        &:hover {
            background-position: 0 -60px;
        }
    }
    .icon-headset {
        display: inline-block;
        float: left;
        width: 14px;
        height: 11px;
        background-position: 0 -24px;
        margin: 9px 5px 9px 10px;
    }
    .nb {
        float: left;
        margin: 7px 0 0 0;
    }
}

.s-fc0, a.s-fc0:hover {
    color: #000;
}

.f-fr {
    float: right;
}

.new-swiper{
    position: relative;
    background: #f5f5f5;
    border: 1px solid #d3d3d3;
    img {
        display: inline-block !important;
    }
    .pre, .nxt{
        position: absolute;
        top: 71px;
        width: 17px;
        height: 17px;
        z-index: 10;
    }
    .pre {
        left: 4px;
    }
    .nxt {
        right: 4px;
    }
}

.s-bg, .n-disk li {
    background: url(https://s2.music.126.net/style/web2/img/index/index.png?32d1c09e2186eb9e738170bac2302c79) no-repeat 0 9999px;
}


.n-disk {
    margin: 28px 0 0 0;
    padding-left: 16px;
    font-size: 12px;
    li {
        float: left;
        display: inline;
        width: 118px;
        height: 150px;
        margin-left: 11px;
        background-position: -260px 100px;
        .u-cover {
            margin-bottom: 7px;
        }
    }
}

.s-bg-6 {
    background-position: 0 -240px;
}

.s-bg-7 {
    background-position: -260px -75px;
}

.s-bg-8 {
    background-position: -300px -75px;
}

.f-tdn {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.u-cover-alb1 {
    width: 100px;
    height: 100px;
    .msk {
        width: 118px;
        height: 100px;
        background-position: 0 -570px;
    }
}

.n-disk p {
    width: 90%;
    line-height: 18px;
}
.f-thide {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.u-cover-alb1, .u-cover-alb2, .u-cover-alb3 {
    .icon-play {
        display: none;
    }
    &:hover .icon-play {
        display: block;
    }
}

.f-fs1 {
    font-size: 14px;
}

.s-bg-9 {
    background-position: -267px -205px;
    &:hover {
        background-position: -267px -235px;
    }
}

.s-bg-10 {
    background-position: -300px -205px;
    &:hover {
        background-position: -300px -235px;
    }
}

.s-bg-11 {
    background-position: -267px -268px;
    &:hover {
        background-position: -267px -288px;
    }
}

.s-bg-12 {
    background-position: -297px -268px;
    &:hover {
        background-position: -297px -288px;
    }
}

.s-fc4, a.s-fc4:hover {
    color: #999;
}

.f-fl {
    float: left;
}

.g-wrap {
    padding: 40px;
}

.n-srch .pgsrch, .n-srch .pgsrch .btn {
    background: url(https://s2.music.126.net/style/web2/img/sprite.png?2ae8f4935caebcc9591599ae30175386) no-repeat 0 9999px;
}

.n-srch .pgsrch {
    width: 420px;
    height: 40px;
    margin: 0 auto;
    background-position: 0 0;
    z-index: 10;
    .srch {
        float: left;
        width: 320px;
        height: 17px;
        margin: 12px 0 0 20px;
        padding: 0;
        background: #fff;
        border: none;
        outline: none;
    }
    .btn {
        float: right;
        width: 50px;
        height: 40px;
        text-indent: -9999px;
        cursor: pointer;
        &:hover {
            background-position: -430px 0;
            text-decoration: none;
        }
    }
}