.banners {
    .banner-wrap{
        position: relative;
        width: 982px;
        // height: 285px;
        margin: 0 auto;
    }
    .banner-item{
        width: 100%;
    }
    
    background-image: url(http://p1.music.126.net/20vOlcFLxpnyXysMlKLFbw==/109951165699299172.jpg?imageView&blur=40x20);
    background-size: 6000px;
    background-position: center center;
}